dt {
    float: left;;
    font-weight: bold;
    margin-right: 0.25em;
}

dt:after
{
    content:" ";
}

dd {
    font-weight: bold;
    margin-bottom:0.25em;
}
ds {align-items: center; margin-bottom: 0.25em; font-size: 25px; color:rgba(50, 156, 241, 0.322); font-weight: bold;}

.card { margin-top:5%};
.image{ align-items: center;}

.center {
    text-align: center;
    padding-top:5px;
    padding-bottom: 5px;
}
.left { text-align: left; padding-left:15px; padding-top:10px;}
.img {
    float:right; position: static; padding: true; margin-right: 10px;
}

 .input-label { padding-left: 30px;}

/* .button { margin-left: 30px; padding-left: 30px; padding-right:30px;  margin-top: 30px; } */
#button-one { margin-top: 50px; margin-bottom: 20px;}
.buttonn { margin-left: 30px; padding-left: 30px; padding-right:30px;  margin-top: 30px; margin-bottom: 30px;}